/* font-family: "Young Serif", serif;
font-weight: 400;
font-style: normal; */

/* font-family: "Outfit", sans-serif;
font-optical-sizing: auto;
font-weight: <weight>;
font-style: normal; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* - White: hsl(0, 0%, 100%)
- Rose White: hsl(330, 100%, 98%)
- Eggshell: hsl(30, 54%, 90%)
- Light Grey: hsl(30, 18%, 87%)
- Wenge Brown: hsl(30, 10%, 34%)
- Dark Charcoal: hsl(24, 5%, 18%) */

/* - Nutmeg: hsl(14, 45%, 36%)
- Dark Raspberry: hsl(332, 51%, 32%) */

body {
  background-color: hsl(30, 54%, 90%);
}

.mega-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 4rem;
}

.small-container {
  width: 50%;
  padding: 35px;
  border-radius: 35px;
  background-color: #ffffff;

}

#image-omelette {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.primary-heading {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: hsl(24, 5%, 18%);
}

.normal-paragraph {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 20px;
  color: hsl(30, 10%, 34%);
}

.tertiary-heading {
  color: hsl(332, 51%, 32%);
  margin-bottom: 20px;
  font-size: 1.3rem;
}

.pink-container {
  background-color: hsl(330, 100%, 98%);
  border-radius: 10px;
  padding: 30px;

  margin-bottom: 20px;
}

ul,
ol {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: hsl(30, 10%, 34%);
  list-style-position: inside;
}

ul span,
ol span {
  margin-left: 10px;
  font-weight: bold;
}

ul li:not(:last-child),
ol li:not(:last-child) {
  margin-bottom: 10px;
}

ol > li::marker {
  font-weight: bold;
}

.secondary-heading {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 20px;
  color: hsl(14, 45%, 36%);
}

.section-ingredients {
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgb(133, 70, 50, 0.3);
}

.section-instructions {
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgb(133, 70, 50, 0.3);
}

table {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: hsl(30, 10%, 34%);
  width: 100%;
  border-collapse: collapse;
}

table tr td {
  border-bottom: 1px solid rgb(133, 70, 50, 0.3);
  padding-bottom: 10px;
  padding-top: 10px;
}

td {
  padding-left: 20px;
}

.numbers {
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}

.attribution {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: hsl(30, 10%, 34%);
  text-align: center;
  margin-top: 50px;
}

.attribution > a {
  text-decoration: none;
  font-family: "Young Serif", serif;
  font-weight: 400;
  color: hsl(14, 45%, 36%);
}

@media screen and (max-width: 1024px) {
  .mega-container {
    margin: 0;
    padding: 0;
  }

  .small-container {
    width: 100%;
    border-radius: 0;
    padding: 0;
  }

  #image-omelette {
    border-radius: 0;
  }

  .container {
    padding: 35px;
  }

  .attribution{
    background-color: #ffffff;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
  }
}
